[alias]
	last = log -1 HEAD
	lg = log --oneline --graph --decorate --all
	co = checkout
	br = branch
	st = status
	ci = commit
	ls = ls-tree -r master --name-only
	unstage = reset HEAD --

[include]
    path = ~/.gitconfig.local
