[alias]
    br = branch
    brdaa = !git branch --merged | egrep -v \"(^\\*|master|dev)\" | xargs git branch -d
    brd = branch --delete
    cia = commit --amend
    ci = commit
    cm = checkout master
    cob = checkout -b
    cobm = checkout --track origin/master -b
    co = checkout
    cp = cherry-pick
    laaa = log --oneline --graph --decorate --all
    laa = log --oneline --graph --decorate --branches=*
    la = log --oneline --graph --decorate --branches=* -10
    last = log -1 HEAD
    l = log --oneline --graph --decorate -10
    ls = ls-tree -r master --name-only
    prb = pull --rebase
    rb = rebase
    rc = rebase --continue
    rs = rebase --skip
    s = status --short
    st = status
    ua = reset HEAD --
    whatadded = log --diff-filter=A --

[core]
    excludesFile = ~/.gitignore

[include]
    path = ~/.gitconfig.local

[credential]
    helper = cache --timeout=360000

[color]
    ui = auto
